@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.interbold {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.interbold:hover {
font-weight: 900;
}

.interRegular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.akaya {
    font-family: "Akaya Telivigala", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }

.forme {
width: 50%;
margin: auto; /*ajustement de la marge autour de la section*/
height: 50vh; /* Taille à prendre en compte en pourcentage à partir de la taille de la page*/
text-align: center; /*centrage du contenu de la section*/
}

.bgPink {
    background-color: pink;
}

.bgPurple {
    background-color: blueviolet;
}

.bgYellow {
    background-color: yellow;
}

.bgGreen {
    background-color: green;
}



.boite {
    height: 80px;
    width: 80px;
    display: inline-block; /* Les afficher au sein de la meme ligne*/
}

.radius {
    border-radius: 20px;
}

.radiusCustom {
    border-radius: 12px 30px 12px 30px; /*commence par en haut à gauche*/
}
/* ou   border-top-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px; */

.boxes {
    height: fit-content;
    width: fit-content;
    padding: 12px 15px;
    margin: 5px;
    
}

.btn {
    display: block;
    width: fit-content;
    margin-bottom: 12px;
    padding: 16px 32px;
    text-decoration: none;
    /*background: red;*/
}

.borderSolid {
    border: 1px solid black ;
}

.borderDashed {
    border: 5px dashed black ;
}

.bgbordergreen {
    background: #61FF7B;
}

.bgborderblue {
    background: #1398A0;
}

.fullRadius {
    border-radius: 32px 32px;
}

.semiRadius {
    border-radius: 0px 32px;
}

.smallRadius {
    border-radius: 8px;
}


article {
    width: 25%;
    height: 60vh;
box-shadow: 10px 5px 30px black;
padding: 10px;
border-radius: 8px;
}

.img {
    align-content: center;
}

.btnvoyage {
    display: block;
    background-color: #1398A0 ;
    border-radius: 8px;
    padding: 16px 32px;
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    width: fit-content;
}

.btnvoyage:hover {
    font-weight: 700;
    padding: 13px;
    transition: 0.3s;
}

article:hover {
    box-shadow: 15px 10px 40px black;
    padding: 13px;
    transition: 0.3s;
}



/*Designer la boite*/

.card {
    width: 300px;
    box-shadow: 4px 4px 12px #000025;
    border-radius: 16px;
    padding: 8px;
    font-family:'Inter','sans-serif';
    margin-bottom: 32px;
}

.card:hover {
    box-shadow: 15px 10px 40px black;
    padding: 13px;
    transition: 0.3s;
}

.card img {
    display: block;
    width: 100%;
}

.card .btn {
    margin-bottom:0;
    margin-top:12px;
}

.flex {
    flex-wrap: wrap;
    display: flex;
}

.position {
    justify-content: space-evenly;
}